@charset "UTF-8";
/* ここから追記 */

/* ボディー */
body {
        background-color: #bcf2e8;
               
    header{
        h1{color:black;
            font-size: 35px;
            text-align: center;
        }
    }
    main{
        h2{
            font-size: 30px;
            text-align: center;
            color: black;
        }
        p{
            font-size: 25px;
            text-align: center;
            color: black;
            font-weight: bold;
        }
        .button {
            display: inline-block;
            font-weight: bold;
            font-size: 20px;
            width: 150px;
            line-height: 60px;
            text-align: center;
            text-decoration: none;
            color: black;
            background-color: wheat;
            box-shadow: 0px 5px 0px gray;
            transition: .3s;
            outline: black;
            display: block;
            margin: 0 auto;
        }
        .button:hover {
            box-shadow: unset;
            transform: translateY(4px);
        }
    }
}
